@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
	overflow-x: hidden;
	margin: 0px;
}

div {
	position: absolute;
	top: 40%;
	right: 50%;
	transform: translate(50%, -50%);
	z-index: 1;
}

th {
	text-align: left;
}

th,
td {
	padding: 20px;
	font-size: 1.2em;
}

img {
	position: absolute;
	width: 100vw;
	bottom: 0;
}
